@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html{
  font-family: var(--my-font-family);
  background-color: var(--background-color);
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */

 
}

/* Hide the scrollbar while allowing scrolling */
body:-webkit-scrollbar {
  width: 0; /* Safari and Chrome */
  height: 0; /* Safari and Chrome */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
}

body{
  margin: 0 auto;
  width: 100%;
}
