.socialLink {
    display: flex;
    justify-content: space-between;
    position: relative;
    color: #bfbfbf;
    text-decoration: none;
    border-bottom: 1px solid #bfbfbf;
    padding-bottom: 1rem;
    transition: all 0.3s ease;
    font-weight: 600;
    align-items: baseline;
    font-size: 1.125rem;
  }

  .socialLink:hover{
    font-size: 1.25rem;
  }
  
  .socialLink::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 1px;
    background-color: #111111;
    transition: width 0.3s ease;
  }
  
  .socialLink:hover::after {
    width: 100%;
  }
  
  .socialLink:hover {
    color: black;
  }
  
  .icon {
    transition: color 0.1s ease; /* Ensure the transition is smooth */
  }
  